MVC/MVCBookBord/Connected Services/ServiceReference1/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BTable" nillable="true" type="tns:BTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBTable" nillable="true" type="tns:ArrayOfBTable" />
  <xs:complexType name="BTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Reserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Seats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BTable" nillable="true" type="tns:BTable" />
  <xs:complexType name="ArrayOfFood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Food" nillable="true" type="tns:Food" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFood" nillable="true" type="tns:ArrayOfFood" />
  <xs:complexType name="Food">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Food" nillable="true" type="tns:Food" />
  <xs:complexType name="ArrayOfBeverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beverage" nillable="true" type="tns:Beverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeverage" nillable="true" type="tns:ArrayOfBeverage" />
  <xs:complexType name="Beverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeverageCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beverage" nillable="true" type="tns:Beverage" />
</xs:schema>